In [26]:
from implicit import als
from implicit.nearest_neighbours import ItemItemRecommender
import pandas as pd
import numpy as np

from scipy.sparse import csr_matrix

In [5]:
df = pd.read_csv('ml-1m/ratings.dat', sep='::', names=['item_id', 'user_id', 'rating', 'tt'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [18]:
msk_test = df['tt'] > 978300000
test = df[msk_test]
train = df[~msk_test]

In [20]:
user_item_matrix = pd.pivot_table(train, 
                                  index='user_id',
                                  columns='item_id', 
                                  values='rating',
                                  aggfunc='count', 
                                  fill_value=0                                      
                                 )

In [92]:
dict_users = {}
for i, user in enumerate(user_item_matrix.index):
    dict_users[user] = i

In [24]:
user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,2,3,4,5,6,7,8,9,10,11,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [27]:
model = ItemItemRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

HBox(children=(IntProgress(value=0, max=6033), HTML(value='')))

NameError: name 'userid_to_id' is not defined

In [33]:
model.recommend(1, csr_matrix(user_item_matrix).T.tocsr())

[(4161, 3950.0),
 (1675, 2661.0),
 (1177, 2495.0),
 (4269, 1707.0),
 (885, 1345.0),
 (1936, 1184.0),
 (4336, 1002.0),
 (1280, 891.0),
 (5787, 612.0),
 (1146, 539.0)]

In [104]:
from implicit.als import AlternatingLeastSquares

In [105]:
model = AlternatingLeastSquares()

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

In [108]:
model = AlternatingLeastSquares() # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

HBox(children=(IntProgress(value=0, max=15), HTML(value='')))

In [48]:
no_test = (set(train['user_id'].unique()) ^ set(test['user_id'].unique()))

In [64]:
test.reset_index(drop=True, inplace=True)

In [78]:
test = test[~test['user_id'].isin(no_test)].reset_index(drop=True)

In [79]:
result = test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result['actual'] = result['actual'].apply(lambda x: list(x))
result.head(10)

   user_id                                             actual
0        1  [1, 19, 23, 28, 65, 68, 78, 90, 96, 99, 151, 1...
1        2  [10, 23, 44, 92, 148, 195, 293, 308, 366, 438,...
2        3  [137, 308, 439, 442, 531, 752, 979, 1088, 1121...
3        4  [338, 528, 531, 678, 752, 1194, 1203, 1579, 19...
4        5  [237, 329, 343, 442, 528, 531, 699, 869, 1088,...
5        6  [23, 63, 92, 151, 173, 195, 306, 331, 349, 362...
6        7  [36, 137, 151, 338, 439, 518, 531, 639, 839, 9...
7        8            [92, 195, 1088, 2015, 2077, 2195, 4834]
8        9            [65, 937, 1447, 1958, 2077, 3507, 3768]
9       10  [22, 102, 146, 173, 184, 271, 308, 338, 349, 3...

In [96]:
result['user_id'] = result['user_id'].replace(dict_users)

In [109]:
result['als'] = result['user_id'].\
    apply(lambda x: [rec[0] for rec in 
                    model.recommend(userid=x, 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

In [110]:
result

,user_id,actual,itemitem,als
0,0,"[1, 19, 23, 28, 65, 68, 78, 90, 96, 99, 151, 1...","[1675, 4161, 1177, 5787, 4269]","[1146, 220, 761, 3561, 4707]"
1,1,"[10, 23, 44, 92, 148, 195, 293, 308, 366, 438,...","[1675, 4161, 1177, 5787, 1936]","[546, 4502, 625, 3799, 5550]"
2,2,"[137, 308, 439, 442, 531, 752, 979, 1088, 1121...","[1675, 4161, 1177, 5787, 5359]","[885, 2772, 5880, 5780, 2058]"
3,3,"[338, 528, 531, 678, 752, 1194, 1203, 1579, 19...","[1675, 4161, 1177, 5787, 2058]","[1957, 2772, 1675, 3511, 4161]"
4,4,"[237, 329, 343, 442, 528, 531, 699, 869, 1088,...","[1675, 4161, 1177, 5787, 1936]","[2772, 1675, 5248, 4040, 2902]"
...,...,...,...,...
3372,3673,"[19, 65, 90, 92, 99, 127, 134, 149, 150, 169, ...","[1675, 4161, 1177, 885, 5359]","[1465, 885, 1872, 1169, 2239]"
3373,3674,"[73, 85, 116, 149, 150, 151, 169, 192, 229, 23...","[4161, 1675, 1177, 885, 4269]","[885, 1465, 4161, 1065, 997]"
3374,3675,"[151, 173, 195, 319, 482, 623, 624, 678, 1015,...","[4161, 885, 1177, 1675, 1465]","[1465, 885, 1065, 1484, 846]"
3375,3676,"[173, 195, 593, 1242, 1733, 1865, 1946, 2031, ...","[4161, 885, 1675, 1177, 4269]","[885, 1465, 4161, 1065, 997]"
3376,3677,"[23, 102, 127, 149, 151, 173, 224, 228, 319, 3...","[4161, 1177, 1675, 885, 4269]","[1465, 885, 1065, 997, 2239]"

In [117]:
from implicit.evaluation import precision_at_k

In [102]:

def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    precision = flags.sum() / len(recommended_list)
    
    
    return precision

In [103]:
result.apply(lambda x: precision_at_k(x['itemitem'], x['actual'],  5), axis=1).mean()

0.00882440035534496

In [111]:
result.apply(lambda x: precision_at_k(x['als'], x['actual'],  5), axis=1).mean()

0.0024874148652650288

In [282]:
from lightfm.datasets import fetch_movielens

movielens = fetch_movielens()

In [283]:
for key, value in movielens.items():
    print(key, type(value), value.shape)

train <class 'scipy.sparse.coo.coo_matrix'> (943, 1682)
test <class 'scipy.sparse.coo.coo_matrix'> (943, 1682)
item_features <class 'scipy.sparse.csr.csr_matrix'> (1682, 1682)
item_feature_labels <class 'numpy.ndarray'> (1682,)
item_labels <class 'numpy.ndarray'> (1682,)

In [284]:
train = movielens['train']
test = movielens['test']

In [285]:
train

<943x1682 sparse matrix of type '<class 'numpy.int32'>'
	with 90570 stored elements in COOrdinate format>

In [116]:
model = AlternatingLeastSquares() # K - кол-во билжайших соседей

model.fit(train.T.tocsr(),  # На вход item-user matrix
          show_progress=True)

HBox(children=(IntProgress(value=0, max=15), HTML(value='')))

In [123]:
precision_at_k(model, train, test)

HBox(children=(IntProgress(value=0, max=943), HTML(value='')))

0.20593849416755036

In [124]:
train

<943x1682 sparse matrix of type '<class 'numpy.int32'>'
	with 90570 stored elements in COOrdinate format>

In [125]:
test

<943x1682 sparse matrix of type '<class 'numpy.int32'>'
	with 9430 stored elements in COOrdinate format>

In [126]:
train.toarray()

array([[5, 3, 4, ..., 0, 0, 0],
       [4, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [5, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 5, 0, ..., 0, 0, 0]])

In [221]:
import os
import sys
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix, save_npz, load_npz, vstack, hstack, lil_matrix
import implicit
import pickle
from implicit.evaluation import train_test_split, precision_at_k, mean_average_precision_at_k


def load_data():
    '''load the MovieLens 1m dataset in a Pandas dataframe'''
    ratings = pd.read_csv('ml-1m/ratings.dat', delimiter='::', header=None, 
        names=['user_id', 'movie_id', 'rating', 'timestamp'], 
        usecols=['user_id', 'movie_id', 'rating'], engine='python')
    
    ratings['user_id'] = ratings['user_id']-1
    ratings['movie_id'] = ratings['movie_id']-1
    return ratings

data = load_data()

In [222]:
def sparse_matrices(df):
    '''creates the sparse user-item and item-user matrices'''

    # using a scalar value (40) to convert ratings from a scale (1-5) to a like/click/view (1)
    alpha = 40

    sparse_user_item = csr_matrix( ([alpha]*len(df['movie_id']), (df['user_id'], df['movie_id']) ))
    # transposing the item-user matrix to create a user-item matrix
    sparse_item_user = sparse_user_item.T.tocsr()
    # save the matrices for recalculating user on the fly 
    save_npz("sparse_user_item.npz", sparse_user_item)
    save_npz("sparse_item_user.npz", sparse_item_user)

    return sparse_user_item, sparse_item_user

sparse_user_item, sparse_item_user = sparse_matrices(data)

In [223]:
def model():
    '''computes p@k and map@k evaluation mettrics and saves model'''
    sparse_item_user = load_npz("sparse_item_user.npz")

    train, test = train_test_split(sparse_item_user, train_percentage=0.8)

    model = implicit.als.AlternatingLeastSquares(factors=100, 
        regularization=0.1, iterations=20, calculate_training_loss=False)
    
    #train[train > 0] = 1
    
    model.fit(train)

    with open('model.sav', 'wb') as pickle_out:
        pickle.dump(model, pickle_out)

    p_at_k = precision_at_k(model, train_user_items=train, 
        test_user_items=test, K=10)
    m_at_k = mean_average_precision_at_k(model, train, test, K=10)

    return p_at_k, m_at_k

In [136]:
model()

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=3953), HTML(value='')))

HBox(children=(IntProgress(value=0, max=3953), HTML(value='')))

(0.0091458212469713, 0.002262804749274254)

In [242]:
train, test = train_test_split(sparse_user_item, train_percentage=0.8)

In [286]:
train = train.toarray()
train[train > 1] = 1

frozen_train = train

tr = np.where(train > 0)
tr_ = []
tr_.append(list(tr[0]))
tr_.append(list(tr[1]))

In [287]:
df_train = pd.DataFrame()
df_train['user_id'] = tr_[0]
df_train['item_id'] = tr_[1]
df_train['user_id'] = df_train['user_id'].astype(np.int16)
df_train['item_id'] = df_train['item_id'].astype(np.int16)

In [288]:
test = test.todense()
test[test > 1] = 1

frozen_test = test

te = np.where(test > 0)
te_ = []
te_.append(list(te[0]))
te_.append(list(te[1]))

In [289]:
df_train_items = df_train.groupby('item_id')['user_id'].unique().reset_index() #.astype(np.int16)
#df_test_items = df_test.groupby('item_id')['user_id'].unique().reset_index()

In [292]:
from tqdm import tqdm
import gc

In [305]:
gc.collect()

92231

In [290]:
df_train_items

      item_id                                            user_id
0           0  [0, 1, 5, 9, 12, 14, 15, 17, 19, 20, 22, 24, 2...
1           1  [0, 12, 21, 29, 41, 48, 63, 71, 82, 86, 91, 94...
2           2  [0, 42, 48, 58, 61, 62, 81, 94, 98, 103, 129, ...
3           3  [0, 6, 9, 11, 12, 15, 17, 21, 42, 48, 58, 61, ...
4           4  [0, 12, 20, 27, 43, 71, 91, 101, 108, 117, 129...
...       ...                                                ...
1675     1677                                              [862]
1676     1678                                              [862]
1677     1679                                              [862]
1678     1680                                              [895]
1679     1681                                              [915]

[1680 rows x 2 columns]

In [311]:
dict_H = {}
for i, row in tqdm(df_train_items.iterrows()):
    dict_H[i] = set()
    for user in row['user_id']:
        a = np.where(train[user] == 1)
        a = set(a[0].astype(np.int16)) - set([i])
        a = frozenset(a)
        dict_H[i].add(a)

0it [00:00, ?it/s]

9it [00:00, 85.33it/s]

22it [00:00, 94.83it/s]

38it [00:00, 107.55it/s]

48it [00:00, 104.86it/s]

59it [00:00, 105.44it/s]

70it [00:00, 105.40it/s]

83it [00:00, 111.19it/s]

95it [00:00, 112.75it/s]

106it [00:00, 97.64it/s]

121it [00:01, 108.83it/s]

134it [00:01, 112.94it/s]

150it [00:01, 122.47it/s]

163it [00:01, 115.37it/s]

175it [00:01, 91.62it/s]

186it [00:01, 87.19it/s]

196it [00:01, 86.23it/s]

206it [00:01, 88.90it/s]

216it [00:02, 79.87it/s]

227it [00:02, 86.62it/s]

237it [00:02, 80.65it/s]

250it [00:02, 90.08it/s]

268it [00:02, 105.22it/s]

280it [00:02, 100.74it/s]

292it [00:02, 101.92it/s]

306it [00:02, 110.46it/s]

322it [00:03, 120.96it/s]

338it [00:03, 129.58it/s]

356it [00:03, 140.17it/s]

380it [00:03, 158.90it/s]

400it [00:03, 168.93it/s]

419it [00:03, 163.07it/s]

437it [00:03, 156.06it/s]

457it [00:03, 154.70it/s]

475it [00:03, 158.84it/s]

492it [00:04, 160.67it/s]

509it [00:04, 159.71it/s]

526it [00:04, 154.28it/s]

542it [00:04, 155.51it/s]

558it [00:04, 139.99it/s]

581it [00:04, 157.65it/s]

606it [00:04, 176.18it/s]

634it [00:04, 197.83it/s]

656it [00:04, 203.43it/s]

678it [00:05, 206.99it/s]

700it [00:05, 184.06it/s]

728it [00:05, 204.28it/s]

750it [00:05, 170.07it/s]

779it [00:05, 193.79it/s]

819it [00:05, 229.13it/s]

855it [00:05, 255.03it/s]

885it [00:05, 235.27it/s]

934it [00:06, 278.31it/s]

969it [00:06, 294.31it/s]

1016it [00:06, 327.39it/s]

1053it [00:06, 337.30it/s]

1105it [00:06, 376.26it/s]

1170it [00:06, 429.86it/s]

1219it [00:06, 429.92it/s]

1266it [00:07, 168.55it/s]

1386it [00:07, 226.99it/s]

1506it [00:07, 299.74it/s]

1680it [00:07, 221.32it/s]

In [312]:
len(repr(dict_H))

90967964

In [302]:
len(repr(dict_H))

91411786

In [313]:
del(dict_H)